/* カラー */

$color300: #4fc3f7;
$color400: #2aa0d5;
$color500: #057cc1;
$color800: #01579b;
$color900: #014578;

$baseColor: #fff;
$outlineShadow: 0 3px 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  );

$inlineShadow: 0 0 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  )
  inset;

.emotion {
  height: calc(100vh - 75px - 86px);
  .inner {
    width: 100%;
    max-width: 960px;
    margin: 86px auto 0;
    // padding: 0 4vw;
    .sec-ttl {
      margin-bottom: 150px;
      text-align: left;
      .sec-heading {
        margin-bottom: 16px;
        font-size: 4.8rem;
        font-weight: 500;
      }
      .sec-txt {
        line-height: 3.2rem;
        font-size: 2.4rem;
      }
    }

    .emotion-button-area {
      text-align: center;
      .pop-container {
        position: relative;
        display: inline-block;
        padding: 8px 32px;
        background-color: $color800;
        border-radius: 20px;
        box-shadow: $outlineShadow;
        .pop-text {
          font-size: 1.6rem;
        }
      }
      .-posTransparent {
        width: 100%;
        margin-top: 36px;
        .button-area {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .emotion {
    .inner {
      .sec-ttl {
        .sec-heading {
          font-size: 4rem;
        }
        .sec-txt {
          font-size: 1.8rem;
        }
      }
      .emotion-button-area {
        .-posTransparent {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 54px;
            height: 100%;
            background-image: linear-gradient(
              to left,
              transparent 0 60%,
              $color500 100%
            );
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 54px;
            height: 100%;
            background-image: linear-gradient(
              to right,
              transparent 0 60%,
              $color500 100%
            );
          }
          .button-area {
            overflow-x: scroll;
            justify-content: flex-start !important;
            padding: 6px (136 - 30px);
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .emotion {
    height: calc(100vh - 75px - 32px);
    .inner {
      margin-top: 32px;
      padding: 0 12px;
      .sec-ttl {
        margin-bottom: 72px;
      }
    }
  }
}

/*------------------------------*/
// 未ログイン
/*------------------------------*/

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $color500;
  .link-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    > .border {
      border-bottom: solid 1px $baseColor;
    }
  }
}
