/* カラー */

$color300: #4fc3f7;
$color400: #2aa0d5;
$color500: #057cc1;
$color800: #01579b;
$color900: #014578;
$errColor: #e94074;

$baseColor: #fff;
$outlineShadow: 0 3px 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  );

$inlineShadow: 0 0 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  )
  inset;

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: auto !important;
  max-width: 960px !important;
  margin: 0 auto !important;
  padding: 100px !important;
  background-color: $color500 !important;
  .modal-text-area {
    font-size: 1.6rem;
    text-align: center;
    .modal-timestamp {
      margin-bottom: 24px;
    }
    .modal-pop-txt {
      position: relative;
      display: inline-block;
      padding: 8px 24px;
      background-color: $color800;
      border-radius: 20px;
      box-shadow: $outlineShadow;
    }
  }
  > .-posTransparent {
    width: 100%;
    .modal-button-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 56px;
    }
  }

  .pop-alert {
    width: 400px;
    margin: 0 auto 18px;
    font-size: 1.8rem;
  }
  .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    .register-button {
      cursor: pointer;
      width: 120px;
      padding: 8px 32px;
      margin-right: 144px;
      border-radius: 5px;
      box-shadow: $outlineShadow;
      border-color: transparent;
      font-size: 1.6rem;
      font-weight: 600;
      color: $color500;
      &:active {
        color: #fff;
        background-color: $color800;
        box-shadow: $inlineShadow;
      }
    }
    .cansel-button {
      cursor: pointer;
      width: 120px;
      height: 42px;
      border-radius: 5px;
      box-shadow: $outlineShadow;
      border-color: transparent;
      font-size: 1.6rem;
      font-weight: 600;
      background-color: $errColor;
      color: #fff;
      transition: 0.3s;
      &:hover {
        box-shadow: $inlineShadow;
      }
      &:active {
        box-shadow: $inlineShadow;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal-window {
    padding: 64px 0 !important;
    width: 90% !important;
    max-width: 640px !important;
    .modal-text-area {
      .modal-pop-txt {
        padding: 6px 42px;
      }
    }
    > .-posTransparent {
      position: relative;
      padding: 0 1px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 100%;
        background-image: linear-gradient(
          to left,
          transparent 0 40%,
          $color500 100%
        );
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 100%;
        background-image: linear-gradient(
          to right,
          transparent 0 40%,
          $color500 100%
        );
      }
      .modal-button-area {
        justify-content: flex-start !important;
        padding: 8px 96px;
        padding-left: 80px;
        overflow-x: scroll;
      }
    }
    .submit-button {
      .register-button {
        margin-right: 36px;
      }
    }
  }
}
