/* カラー */

$color300: #4fc3f7;
$color400: #2aa0d5;
$color500: #057cc1;
$color800: #01579b;
$color900: #014578;

$baseColor: #fff;
$outlineShadow: 0 3px 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  );

$inlineShadow: 0 0 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  )
  inset;

.graph {
  position: relative;
  height: 100vh;
  > .-postionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .err-log {
      font-size: 2rem;
      color: $baseColor;
      > .-borderBottom {
        border-bottom: 1px solid $baseColor;
      }
    }
  }
}

.graph-img {
  height: 100vh;
  .name {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .graph {
    height: 100vh;
  }
  .graph-img {
    .recharts-responsive-container {
      width: 250% !important;
    }
  }
}
