/* カラー */

$color300: #4fc3f7;
$color400: #2aa0d5;
$color500: #057cc1;
$color800: #01579b;
$color900: #014578;

$baseColor: #fff;
$outlineShadow: 0 3px 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  );

$inlineShadow: 0 0 3px
  rgba(
    $color: #333,
    $alpha: 0.3,
  )
  inset;

.chart-container {
  overflow: hidden;
  .chart-wrapper {
    height: calc(100vh - 75px);
    padding: 0px 56px 64px 56px;
    .name {
      padding: 8px 0px 0px 0px;
      text-align: center;
      font-size: 2.8rem;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 768px) {
  .chart-container {
    .chart-wrapper {
      padding: 16px 24px 64px 16px;
    }
  }
}

// データがなかった時のコーディング
.graph {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 75px);
  > .-postionCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 36px;
    .err-log {
      text-align: center;
      font-size: 2rem;
      color: $baseColor;
      > .-borderBottom {
        border-bottom: 1px solid $baseColor;
      }
    }
  }
}
